mul-frontend/node_modules/
mul-frontend/yarn.lock
mul-frontend/package-lock.json
mul-frontend/.awcache
mul-frontend/.idea
mul-frontend/.cache/
mul-frontend/dist/
mul-frontend/yarn-error.log

backend-mul/.vs/
backend-mul/[Bb]in
backend-mul/[Oo]bj
backend-mul/[Tt]est[Rr]esults
backend-mul/*.suo
backend-mul/*.user
backend-mul/*.[Cc]ache
backend-mul/*[Rr]esharper*
backend-mul/packages
backend-mul/NuGet.exe
backend-mul/_[Ss]cripts
backend-mul/*.exe
backend-mul/*.dll
backend-mul/*.nupkg
backend-mul/*.dot[Cc]over
backend-mul/*.vsp
backend-mul/*.psess
backend-mul/*.orig
backend-mul/*.sln.ide
backend-mul/project.lock.json
backend-mul/*launchSettings.json